<?php

$db_type = 'mysqli';
$db_host = 'mysql';
$db_name = '';
$db_username = '';
$db_password = '';
$db_prefix = '';
$p_connect = false;

$cookie_name = 'pun_cookie_42dd19';
$cookie_domain = '';
$cookie_path = '/';
$cookie_secure = 0;
$cookie_seed = '199a3970923203a0';

define('PUN', 1);
